<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">home</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>assignment-ind</mat-icon><span class="nav-caption">Owener Actions</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Cuenta o algo de eso</span>
    </a>
</mat-nav-list>